/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", "Roboto", serif;
}

h2 {
  font-weight: 400;
}

.shadow {
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.footer-photo {
  width: 500px;
  height: 300px;
}

/* header section */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  background: linear-gradient(-10deg, white 50%, #0891B2 50%);
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 20px;
  background-color: white;
}

.intro > .icons {
  display: flex;
  gap: 10px;
  font-size: 20px;
  align-self: self-end;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
} 

.profile-photo {
  width: 300px;
  height: auto;
}

.profile > h1 {
  position: absolute;
  bottom: 10px;
  color: white;
  font-weight: 300;
}

/* main section */
main {
  padding: 30px 40px;
}

main > h2 {
  padding: 20px 0;
}

.content {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.project {
  display: flex;
  flex-direction: column;
}

.screenshot {
  background-color: rosybrown;
  text-align: center;
  padding: 60px 30px;
  color: white;
  font-size: 30px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.container {
  padding: 20px;
}

.icons {
  display: flex;
  gap: 4px;
  align-items: center;
}

.project i {
  font-size: 24px;
}

.project img {
  width: 24px;
  height: 24px;
}

.project h3 {
  font-weight: 300;
}

.project p {
  padding: 20px 0;
  color: gray;
}