/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", "Roboto", serif;
}

.shadow {
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.footer-photo {
  width: 500px;
  height: 300px;
}

/* header section */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  background: linear-gradient(-10deg, white 50%, #0891B2 50%);
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 20px;
  background-color: white;
}

.intro > .icons {
  display: flex;
  gap: 10px;
  font-size: 20px;
  align-self: self-end;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
} 

.profile-photo {
  width: 300px;
  height: auto;
}

.profile > h1 {
  position: absolute;
  bottom: 10px;
  color: white;
  font-weight: 300;
}

